## 데이터 불러오기

In [8]:
from autogluon.tabular import TabularDataset, TabularPredictor
import dask.dataframe as dd
import vaex
import pandas as pd
import numpy as np
# import matplotlib.pyplot as plt
# import seaborn as sns
import scipy.stats as spst
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import LabelEncoder
import pickle
from sklearn.preprocessing import OneHotEncoder

In [9]:
card_data = '../data/five_city_data/merged_gyeonggi_day.csv'
flowpop_data = '../data/five_city_data/flowpop.csv'
commercial_area_ndc_data = '../data/five_city_data/updated_commerical_area_ndc.csv'
card_sample = '../data/gm_card.csv'

In [10]:
# card_df = dd.read_csv(card_sample,encoding='utf-8')

In [11]:
card_df = dd.read_csv(card_data,encoding='utf-8')
flowpop_df = dd.read_csv(flowpop_data,encoding='utf-8')
comm_df = dd.read_csv(commercial_area_ndc_data,encoding='utf-8')

## 데이터 전처리

#### 카드 소비 데이터

In [11]:
card_df.head()

,ta_ymd,cty_rgn_no,admi_cty_no,card_tpbuz_cd,card_tpbuz_nm_1,card_tpbuz_nm_2,hour,sex,age,day,amt,cnt
0,20230101,41210,41210510,D05,소매/유통,선물/완구,3,M,5,7,57576,2
1,20230101,41210,41210510,D11,소매/유통,종합소매점,3,F,7,7,8523,2
2,20230101,41210,41210510,D11,소매/유통,종합소매점,7,F,7,7,8023,2
3,20230101,41210,41210510,F02,생활서비스,미용서비스,3,M,4,7,28532,2
4,20230101,41210,41210510,F02,생활서비스,미용서비스,4,F,7,7,74074,2

In [12]:
flowpop_df.head()

,ETL_M,ADMI_CD,TIME_CD,M_10_CNT,F_10_CNT,M_20_CNT,F_20_CNT,M_30_CNT,F_30_CNT,M_40_CNT,F_40_CNT,M_50_CNT,F_50_CNT,M_60_CNT,F_60_CNT,M_70_CNT,F_70_CNT
0,2023-01,41111560,0,2858.84,2353.63,6248.39,4939.41,6684.28,4267.07,6304.54,5347.71,7495.55,5583.58,5411.89,4223.19,1086.22,1165.65
1,2023-01,41111560,1,3491.05,3021.34,7622.91,6183.19,7793.08,5365.17,7591.39,6765.04,9010.54,6842.45,6755.23,5363.00,1369.42,1499.24
2,2023-01,41111560,2,3433.43,3094.93,7369.46,5974.40,7510.31,5217.52,7282.29,6413.82,8717.53,6483.81,6631.32,5241.16,1303.01,1483.83
3,2023-01,41111560,3,3194.88,2955.40,7014.45,5704.24,7172.49,5138.34,6906.87,6334.15,8650.77,6395.10,6540.17,5316.28,1333.23,1501.99
4,2023-01,41111560,4,3003.63,2818.85,6716.24,5370.39,6980.61,4920.87,6908.53,6217.82,8911.40,6465.25,6940.02,5642.58,1519.33,1577.52

In [13]:
comm_df.head()

      행정동코드  기준분기  운영점포평균영업기간  폐업점포평균영업기간 상권변동지표구분 상권변동지표구분명
0  41111560     1        99.9        46.4       HL      상권축소
1  41111566     1        83.5        43.2       LL      다이나믹
2  41111571     1        97.9        38.1       HL      상권축소
3  41111572     1        92.9        58.5       HH        정체
4  41111573     1        93.1        70.1       HH        정체

### 범주형 데이터 변환

In [44]:
# enc_classes = {} 
# def encoding_label(x):   # x: 범주형 타입의 컬럼(Series)
#     le = LabelEncoder()
#     le.fit(x)
#     label = le.transform(x)
#     enc_classes[x.name] = le.classes_   # x.name: 컬럼명
#     return label

In [58]:
# card_df2 = card_df['card_tpbuz_cd'].apply(encoding_label)
# 오늘, 행정동에서, 어떤 업종에 방문한 연령대의 남성이 발생시킨 매출의 평균
grouped_df = card_df.groupby(["ta_ymd", "admi_cty_no", "card_tpbuz_cd", "sex", "age"]).agg({"amt": "mean", "cnt": "sum"}).reset_index()

grouped_df.head(5)

     ta_ymd  admi_cty_no card_tpbuz_cd sex  age      amt  cnt
0  20230101     41210510           D05   M    5  57576.0    2
1  20230101     41210510           D11   F    7   8273.0    4
2  20230101     41210510           F02   F    4  97650.0    2
3  20230101     41210510           F02   F    6  25789.0    2
4  20230101     41210510           F02   F    7  74074.0    2

In [59]:
grouped_df = grouped_df.drop(['ta_ymd'],axis=1)

In [60]:
train_df, test_df = train_test_split(grouped_df, test_size=0.2, random_state=42)

In [61]:
# train_size = int(len(card_df) * 0.8)
# train_df = card_df[:train_size]
# test_df = card_df[train_size:]

In [62]:
predictor = TabularPredictor(
    label='amt',  # 예측할 타겟 컬럼 설정
    eval_metric='mean_absolute_error'  # 평가 지표 설정
)

No path specified. Models will be saved in: "AutogluonModels\ag-20240711_033255"

In [ ]:
predictor.fit(train_data=train_df)

In [64]:
# 예측 수행
predictions = predictor.predict(test_df)

In [66]:
predictions.head()

1018321    3.377258e+05
2124564    2.413185e+04
2258131    1.342081e+06
2011751    2.614102e+05
1738195    7.445822e+04
Name: amt, dtype: float32

In [67]:
test_df.head()

         admi_cty_no card_tpbuz_cd sex  age           amt  cnt
1018321     41210590           S04   F    6  3.442950e+04    4
2124564     41210520           Q14   M    2  3.107500e+04    1
2258131     41210610           S04   M    7  3.930405e+06   66
2011751     41210550           F02   F    7  4.016005e+05   16
1738195     41210580           F03   M    4  6.081390e+06    2

In [68]:
predictor.leaderboard(test_df)

,model,score_test,score_val,eval_metric,pred_time_test,pred_time_val,fit_time,pred_time_test_marginal,pred_time_val_marginal,fit_time_marginal,stack_level,can_infer,fit_order
0,ExtraTreesMSE,-185856.722470,-185911.330726,mean_absolute_error,2.764904,0.123686,201.497280,2.764904,0.123686,201.497280,1,True,7
1,RandomForestMSE,-188120.379728,-187931.481231,mean_absolute_error,2.519405,0.124849,262.785172,2.519405,0.124849,262.785172,1,True,5
2,LightGBM,-190159.331894,-189084.193637,mean_absolute_error,3.645283,0.145639,19.794451,3.645283,0.145639,19.794451,1,True,4
3,LightGBMXT,-192731.062032,-192396.499009,mean_absolute_error,83.806180,3.146824,177.869431,83.806180,3.146824,177.869431,1,True,3
4,CatBoost,-216138.837812,-212478.484948,mean_absolute_error,0.667849,0.080087,1044.560808,0.667849,0.080087,1044.560808,1,True,6
5,KNeighborsUnif,-415725.153611,-446119.955703,mean_absolute_error,16.806362,1.236200,14.697853,16.806362,1.236200,14.697853,1,True,1
6,KNeighborsDist,-416299.692563,-446152.890681,mean_absolute_error,15.315404,0.645500,2.131970,15.315404,0.645500,2.131970,1,True,2

## 데이터 결합

### 월 별 데이터로 통합, 유동인구와 상권변화지표도 통합

In [14]:
# 해당일, 해당동의 해당 업종의 특정시간에 매출과 매출건수 총액
card_df2 = card_df.groupby(["ta_ymd", "admi_cty_no", "card_tpbuz_cd"]).agg({"amt": "sum", "cnt":"sum"}).reset_index()

In [15]:
card_df2.head()

     ta_ymd  admi_cty_no card_tpbuz_cd     amt  cnt
0  20230101     41210510           D05   57576    2
1  20230101     41210510           D11   16546    4
2  20230101     41210510           F02  313388   16
3  20230101     41210510           Q01   69266    1
4  20230101     41210510           Q15   78222    6

In [16]:
card_df2['ta_ymd'] = card_df2['ta_ymd'].astype(str)

In [17]:
card_df2['ta_ymd'] = card_df2['ta_ymd'].str.slice(0, 6)

In [18]:
card_df2.head()

   ta_ymd  admi_cty_no card_tpbuz_cd     amt  cnt
0  202301     41210510           D05   57576    2
1  202301     41210510           D11   16546    4
2  202301     41210510           F02  313388   16
3  202301     41210510           Q01   69266    1
4  202301     41210510           Q15   78222    6

In [19]:
# 월별 행정구별, 업종별, amt 및 cnt 평균
grouped_df = card_df2.groupby(["ta_ymd", "admi_cty_no", "card_tpbuz_cd"]).agg({"amt": "sum", "cnt": "sum"}).reset_index()
grouped_df.head()

   ta_ymd  admi_cty_no card_tpbuz_cd       amt  cnt
0  202301     41210510           D05    633562   28
1  202301     41210510           D11    171040   28
2  202301     41210510           F02  12060758  375
3  202301     41210510           Q01   1818710    9
4  202301     41210510           Q15   2167723   87

In [20]:
# join을 위한 데이터 통일
flowpop_df['ETL_M'] = flowpop_df['ETL_M'].str.replace('-', '')
# 총 유동인구 계산
cnt_columns = flowpop_df.loc[:, 'M_10_CNT':'F_70_CNT'].columns
flowpop_df['TOTAL_POPULATION'] = flowpop_df[cnt_columns].sum(axis=1)
# 해당 월에 해당 동에 해당 시간에 방문한 유동인구수 평균
flowpop_df_temp = flowpop_df.groupby(["ETL_M", "ADMI_CD","TIME_CD"]).agg({"TOTAL_POPULATION": "mean"}).reset_index()
# 해당 월에 해당 동에 방문한 유동인구 평균 총합
flow_g_df = flowpop_df_temp.groupby(["ETL_M", "ADMI_CD"]).agg({"TOTAL_POPULATION": "sum"}).reset_index()

In [21]:
flow_g_df.head()

    ETL_M   ADMI_CD  TOTAL_POPULATION
0  202301  41111560        2968697.82
1  202301  41111566        5438074.73
2  202301  41111571        2764829.73
3  202301  41111572        3664691.19
4  202301  41111573        5278122.27

In [22]:
# 데이터 결합
merged_df = dd.merge(grouped_df, flow_g_df, how='inner', left_on=['ta_ymd', 'admi_cty_no'], right_on=['ETL_M', 'ADMI_CD'])

In [23]:
merged_df.head()

,ta_ymd,admi_cty_no,card_tpbuz_cd,amt,cnt,ETL_M,ADMI_CD,TOTAL_POPULATION
0,202301,41210510,D05,633562,28,202301,41210510,13850.98
1,202301,41210510,D11,171040,28,202301,41210510,13850.98
2,202301,41210510,F02,12060758,375,202301,41210510,13850.98
3,202301,41210510,Q01,1818710,9,202301,41210510,13850.98
4,202301,41210510,Q15,2167723,87,202301,41210510,13850.98

In [24]:
# 기준분기 생성 함수
def get_quarter(month):
    if month in [1, 2, 3]:
        return 1
    elif month in [4, 5, 6]:
        return 2
    elif month in [7, 8, 9]:
        return 3
    elif month in [10, 11, 12]:
        return 4

# merged_df에서 기준분기 생성
merged_df['year'] = merged_df['ta_ymd'].astype(str).str[:4].astype(int)
merged_df['month'] = merged_df['ta_ymd'].astype(str).str[4:6].astype(int)
merged_df['기준분기'] = merged_df['month'].apply(get_quarter)

# comm_df에서 기준분기와 매칭될 수 있도록 연도를 추가
comm_df['year'] = 2023

C:\Users\DA\anaconda3\envs\hanati\lib\site-packages\dask\dataframe\core.py:4336: UserWarning:
You did not provide metadata, so Dask is running your function on a small dataset to guess output types. It is possible that Dask will guess incorrectly.
To provide an explicit output types or to silence this message, please provide the `meta=` keyword, as described in the map or apply function that you are using.
  Before: .apply(func)
  After:  .apply(func, meta=('month', 'int64'))

  warnings.warn(meta_warning(meta))

In [25]:
merged_df.head()

,ta_ymd,admi_cty_no,card_tpbuz_cd,amt,cnt,ETL_M,ADMI_CD,TOTAL_POPULATION,year,month,기준분기
0,202301,41210510,D05,633562,28,202301,41210510,13850.98,2023,1,1
1,202301,41210510,D11,171040,28,202301,41210510,13850.98,2023,1,1
2,202301,41210510,F02,12060758,375,202301,41210510,13850.98,2023,1,1
3,202301,41210510,Q01,1818710,9,202301,41210510,13850.98,2023,1,1
4,202301,41210510,Q15,2167723,87,202301,41210510,13850.98,2023,1,1

In [26]:
comm_df.head()

      행정동코드  기준분기  운영점포평균영업기간  폐업점포평균영업기간 상권변동지표구분 상권변동지표구분명  year
0  41111560     1        99.9        46.4       HL      상권축소  2023
1  41111566     1        83.5        43.2       LL      다이나믹  2023
2  41111571     1        97.9        38.1       HL      상권축소  2023
3  41111572     1        92.9        58.5       HH        정체  2023
4  41111573     1        93.1        70.1       HH        정체  2023

In [27]:
# comm_df와 merged_df 병합
merged_result = dd.merge(merged_df, comm_df, left_on=['admi_cty_no', '기준분기', 'year'], right_on=['행정동코드', '기준분기', 'year'], how='left')

# 병합 결과에서 필요없는 열 제거 (예: '행정동코드')
merged_result = merged_result.drop(columns=['행정동코드'])

# 병합 결과 출력
merged_result.head()

,ta_ymd,admi_cty_no,card_tpbuz_cd,amt,cnt,ETL_M,ADMI_CD,TOTAL_POPULATION,year,month,기준분기,운영점포평균영업기간,폐업점포평균영업기간,상권변동지표구분,상권변동지표구분명
0,202301,41210510,D05,633562,28,202301,41210510,13850.98,2023,1,1,188.5,358.0,HH,정체
1,202301,41210510,D11,171040,28,202301,41210510,13850.98,2023,1,1,188.5,358.0,HH,정체
2,202301,41210510,F02,12060758,375,202301,41210510,13850.98,2023,1,1,188.5,358.0,HH,정체
3,202301,41210510,Q01,1818710,9,202301,41210510,13850.98,2023,1,1,188.5,358.0,HH,정체
4,202301,41210510,Q15,2167723,87,202301,41210510,13850.98,2023,1,1,188.5,358.0,HH,정체

In [28]:
# 해당 행정동의 상권 지표를 결합
merged_df2 = dd.merge(merged_df, comm_df, how='inner', left_on=['admi_cty_no'], right_on=['행정동코드'])

In [29]:
merged_df2.columns

Index(['ta_ymd', 'admi_cty_no', 'card_tpbuz_cd', 'amt', 'cnt', 'ETL_M',
       'ADMI_CD', 'TOTAL_POPULATION', 'year_x', 'month', '기준분기_x', '행정동코드',
       '기준분기_y', '운영점포평균영업기간', '폐업점포평균영업기간', '상권변동지표구분', '상권변동지표구분명',
       'year_y'],
      dtype='object')

In [30]:
columns_to_drop = ['ta_ymd','ETL_M', 'ADMI_CD', 'year_x','기준분기_x', '행정동코드','기준분기_y',
                   '상권변동지표구분명', 'year_y','month']
merged_df2 = merged_df2.drop(columns=columns_to_drop)

In [103]:
merged_df2.head(10)

,admi_cty_no,card_tpbuz_cd,amt,cnt,TOTAL_POPULATION,운영점포평균영업기간,폐업점포평균영업기간,상권변동지표구분
0,41210510,D05,633562,28,13850.98,188.5,358.0,HH
1,41210510,D05,633562,28,13850.98,188.5,358.0,HH
2,41210510,D05,633562,28,13850.98,188.5,358.0,HH
3,41210510,D11,171040,28,13850.98,188.5,358.0,HH
4,41210510,D11,171040,28,13850.98,188.5,358.0,HH
5,41210510,D11,171040,28,13850.98,188.5,358.0,HH
6,41210510,F02,12060758,375,13850.98,188.5,358.0,HH
7,41210510,F02,12060758,375,13850.98,188.5,358.0,HH
8,41210510,F02,12060758,375,13850.98,188.5,358.0,HH
9,41210510,Q01,1818710,9,13850.98,188.5,358.0,HH

In [32]:
# 505027 rows
len(merged_df2)

403080

In [105]:
merged_df2.nunique().sum()

164449

## One hot encoding, train-test split

In [54]:
merged_df2 = TabularDataset(merged_df2)

#### 인코딩시 사용되는 속성 저장

In [55]:
# merged_df2 = merged_df2.compute()

# # 범주형 변수의 모든 가능한 값 저장
# categorical_mapping = {
#     'card_tpbuz_cd': merged_df2['card_tpbuz_cd'].unique(),
#     '상권변동지표구분': merged_df2['상권변동지표구분'].unique()
# }
# with open('categorical_mapping.pkl', 'wb') as f:
#     pickle.dump(categorical_mapping, f)

# OneHotEncoder를 사용하여 범주형 변수를 인코딩
# categorical_columns = ["card_tpbuz_cd", "상권변동지표구분"]
# encoder = OneHotEncoder(sparse_output=False)
# encoded_categorical = encoder.fit_transform(merged_df2[categorical_columns])

# # 인코딩된 데이터를 DataFrame으로 변환하고 원래의 수치형 데이터와 결합
# encoded_categorical_df = pd.DataFrame(encoded_categorical, columns=encoder.get_feature_names_out(categorical_columns))
# train_data_encoded = pd.concat([merged_df2.drop(columns=categorical_columns), encoded_categorical_df], axis=1)

# with open('encoder.pkl', 'wb') as f:
#     pickle.dump(encoder, f)

In [58]:
# train_df, test_df = train_test_split(train_data_encoded, test_size=0.2, random_state=42)
train_df, test_df = train_test_split(merged_df2, test_size=0.2, random_state=42)

## 모델 학습1

In [60]:
# Autogluon TabularPredictor 사용
predictor = TabularPredictor(
    label='amt',  # 예측할 타겟 컬럼 설정
    eval_metric='mean_absolute_error'  # 평가 지표 설정 
)

# 모델 훈련
predictor.fit(
    train_data=train_df,
    presets='good_quality_faster_inference_only_refit',  # 가벼운 모델 설정
    time_limit=3600  # 학습 시간 2시간으로 제한 (1800초)
)

# 예측 수행
predictions = predictor.predict(test_df)

# 예측 결과 및 실제 값 비교
print("Predictions:\n", predictions)
print("Actual:\n", test_df['amt'])

No path specified. Models will be saved in: "AutogluonModels\ag-20240715_073451"
Preset alias specified: 'good_quality_faster_inference_only_refit' maps to 'good_quality'.
Verbosity: 2 (Standard Logging)
=================== System Info ===================
AutoGluon Version:  1.1.1
Python Version:     3.8.18
Operating System:   Windows
Platform Machine:   AMD64
Platform Version:   10.0.22631
CPU Count:          12
Memory Avail:       13.54 GB / 31.69 GB (42.7%)
Disk Space Avail:   549.16 GB / 930.86 GB (59.0%)
===================================================
Presets specified: ['good_quality_faster_inference_only_refit']
Setting dynamic_stacking from 'auto' to True. Reason: Enable dynamic_stacking when use_bag_holdout is disabled. (use_bag_holdout=False)
Stack configuration (auto_stack=True): num_stack_levels=1, num_bag_folds=8, num_bag_sets=1
Note: `save_bag_folds=False`! This will greatly reduce peak disk usage during fit (by ~8x), but runs the risk of an out-of-memory error during model refit if memory is small relative to the data size.
	You can avoid this risk by setting `save_bag_folds=True`.
DyStack is enabled (dynamic_stacking=True). AutoGluon will try to determine whether the input data is affected by stacked overfitting and enable or disable stacking as a consequence.
	This is used to identify the optimal `num_stack_levels` value. Copies of AutoGluon will be fit on subsets of the data. Then holdout validation data is used to detect stacked overfitting.
	Running DyStack for up to 900s of the 3600s of remaining time (25%).
		Context path: "AutogluonModels\ag-20240715_073451\ds_sub_fit\sub_fit_ho"
Leaderboard on holdout data (DyStack):
                      model  score_holdout     score_val          eval_metric  pred_time_test pred_time_val   fit_time  pred_time_test_marginal pred_time_val_marginal  fit_time_marginal  stack_level  can_infer  fit_order
0  WeightedEnsemble_L3_FULL  -4.668222e+07 -5.078870e+07  mean_absolute_error       12.885795          None  67.937142                 0.008026                   None           0.402083            3       True          4
1    LightGBMXT_BAG_L2_FULL  -4.900826e+07 -5.381627e+07  mean_absolute_error       12.877769          None  67.535058                 6.233214                   None          33.634908            2       True          3
2    LightGBMXT_BAG_L1_FULL  -5.428873e+07 -5.814848e+07  mean_absolute_error        6.644555          None  33.900150                 6.644555                   None          33.900150            1       True          1
3  WeightedEnsemble_L2_FULL  -5.428873e+07 -5.814848e+07  mean_absolute_error        6.657553          None  33.913147                 0.012999                   None           0.012997            2       True          2
	1	 = Optimal   num_stack_levels (Stacked Overfitting Occurred: False)
	1229s	 = DyStack   runtime |	2371s	 = Remaining runtime
Starting main fit with num_stack_levels=1.
	For future fit calls on this dataset, you can skip DyStack to save time: `predictor.fit(..., dynamic_stacking=False, num_stack_levels=1)`
Beginning AutoGluon training ... Time limit = 2371s
AutoGluon will save models to "AutogluonModels\ag-20240715_073451"
Train Data Rows:    322464
Train Data Columns: 7
Label Column:       amt
Problem Type:       regression
Preprocessing data ...
Using Feature Generators to preprocess the data ...
Fitting AutoMLPipelineFeatureGenerator...
	Available Memory:                    18747.54 MB
	Train Data (Original)  Memory Usage: 48.90 MB (0.3% of available memory)
	Inferring data type of each feature based on column values. Set feature_metadata_in to manually specify special dtypes of the features.
	Stage 1 Generators:
		Fitting AsTypeFeatureGenerator...
	Stage 2 Generators:
		Fitting FillNaFeatureGenerator...
	Stage 3 Generators:
		Fitting IdentityFeatureGenerator...
		Fitting CategoryFeatureGenerator...
			Fitting CategoryMemoryMinimizeFeatureGenerator...
	Stage 4 Generators:
		Fitting DropUniqueFeatureGenerator...
	Stage 5 Generators:
		Fitting DropDuplicatesFeatureGenerator...
	Types of features in original data (raw dtype, special dtypes):
		('float', [])  : 3 | ['TOTAL_POPULATION', '운영점포평균영업기간', '폐업점포평균영업기간']
		('int', [])    : 2 | ['admi_cty_no', 'cnt']
		('object', []) : 2 | ['card_tpbuz_cd', '상권변동지표구분']
	Types of features in processed data (raw dtype, special dtypes):
		('category', []) : 2 | ['card_tpbuz_cd', '상권변동지표구분']
		('float', [])    : 3 | ['TOTAL_POPULATION', '운영점포평균영업기간', '폐업점포평균영업기간']
		('int', [])      : 2 | ['admi_cty_no', 'cnt']
	0.6s = Fit runtime
	7 features in original data used to generate 7 features in processed data.
	Train Data (Processed) Memory Usage: 12.92 MB (0.1% of available memory)
Data preprocessing and feature engineering runtime = 0.67s ...
AutoGluon will gauge predictive performance using evaluation metric: 'mean_absolute_error'
	This metric's sign has been flipped to adhere to being higher_is_better. The metric score can be multiplied by -1 to get the metric value.
	To change this, specify the eval_metric parameter of Predictor()
User-specified model hyperparameters to be fit:
{
	'NN_TORCH': {},
	'GBM': [{'extra_trees': True, 'ag_args': {'name_suffix': 'XT'}}, {}, 'GBMLarge'],
	'CAT': {},
	'XGB': {},
	'FASTAI': {},
	'RF': [{'criterion': 'gini', 'max_depth': 15, 'ag_args': {'name_suffix': 'Gini', 'problem_types': ['binary', 'multiclass']}}, {'criterion': 'entropy', 'max_depth': 15, 'ag_args': {'name_suffix': 'Entr', 'problem_types': ['binary', 'multiclass']}}, {'criterion': 'squared_error', 'max_depth': 15, 'ag_args': {'name_suffix': 'MSE', 'problem_types': ['regression', 'quantile']}}],
	'XT': [{'criterion': 'gini', 'max_depth': 15, 'ag_args': {'name_suffix': 'Gini', 'problem_types': ['binary', 'multiclass']}}, {'criterion': 'entropy', 'max_depth': 15, 'ag_args': {'name_suffix': 'Entr', 'problem_types': ['binary', 'multiclass']}}, {'criterion': 'squared_error', 'max_depth': 15, 'ag_args': {'name_suffix': 'MSE', 'problem_types': ['regression', 'quantile']}}],
}
AutoGluon will fit 2 stack levels (L1 to L2) ...
Fitting 9 L1 models ...
Fitting model: LightGBMXT_BAG_L1 ... Training model for up to 1579.97s of the 2370.55s of remaining time.
	Fitting 8 child models (S1F1 - S1F8) | Fitting with ParallelLocalFoldFittingStrategy (8 workers, per: cpus=1, gpus=0, memory=0.54%)
	-55933593.9924	 = Validation score   (-mean_absolute_error)
	182.34s	 = Training   runtime
	1376.79s	 = Validation runtime
Fitting model: LightGBM_BAG_L1 ... Training model for up to 1227.1s of the 2017.68s of remaining time.
	Fitting 8 child models (S1F1 - S1F8) | Fitting with ParallelLocalFoldFittingStrategy (8 workers, per: cpus=1, gpus=0, memory=0.55%)
	-32803844.863	 = Validation score   (-mean_absolute_error)
	148.3s	 = Training   runtime
	1059.07s	 = Validation runtime
Fitting model: RandomForestMSE_BAG_L1 ... Training model for up to 946.72s of the 1737.3s of remaining time.
	-39811790.0121	 = Validation score   (-mean_absolute_error)
	51.89s	 = Training   runtime
	8.23s	 = Validation runtime
Fitting model: CatBoost_BAG_L1 ... Training model for up to 886.24s of the 1676.82s of remaining time.
	Fitting 8 child models (S1F1 - S1F8) | Fitting with ParallelLocalFoldFittingStrategy (8 workers, per: cpus=1, gpus=0, memory=0.59%)
	-98311412.1511	 = Validation score   (-mean_absolute_error)
	714.63s	 = Training   runtime
	0.56s	 = Validation runtime
Fitting model: ExtraTreesMSE_BAG_L1 ... Training model for up to 169.16s of the 959.73s of remaining time.
	-93775267.8921	 = Validation score   (-mean_absolute_error)
	21.81s	 = Training   runtime
	6.76s	 = Validation runtime
Fitting model: NeuralNetFastAI_BAG_L1 ... Training model for up to 140.28s of the 930.86s of remaining time.
	Fitting 8 child models (S1F1 - S1F8) | Fitting with ParallelLocalFoldFittingStrategy (8 workers, per: cpus=1, gpus=0, memory=0.89%)
	Warning: Exception caused NeuralNetFastAI_BAG_L1 to fail during training (ImportError)... Skipping this model.
		ray::_ray_fit() (pid=21232, ip=127.0.0.1)
  File "python\ray\_raylet.pyx", line 1889, in ray._raylet.execute_task
  File "C:\Users\DA\anaconda3\envs\hanati\lib\site-packages\autogluon\core\models\ensemble\fold_fitting_strategy.py", line 402, in _ray_fit
    fold_model.fit(X=X_fold, y=y_fold, X_val=X_val_fold, y_val=y_val_fold, time_limit=time_limit_fold, **resources, **kwargs_fold)
  File "C:\Users\DA\anaconda3\envs\hanati\lib\site-packages\autogluon\core\models\abstract\abstract_model.py", line 856, in fit
    out = self._fit(**kwargs)
  File "C:\Users\DA\anaconda3\envs\hanati\lib\site-packages\autogluon\tabular\models\fastainn\tabular_nn_fastai.py", line 213, in _fit
    try_import_fastai()
  File "C:\Users\DA\anaconda3\envs\hanati\lib\site-packages\autogluon\common\utils\try_import.py", line 119, in try_import_fastai
    import autogluon.tabular.models.fastainn.imports_helper
  File "C:\Users\DA\anaconda3\envs\hanati\lib\site-packages\autogluon\tabular\models\fastainn\imports_helper.py", line 1, in <module>
    from fastai.tabular.all import *
  File "C:\Users\DA\anaconda3\envs\hanati\lib\site-packages\fastai\tabular\all.py", line 1, in <module>
    from ..basics import *
  File "C:\Users\DA\anaconda3\envs\hanati\lib\site-packages\fastai\basics.py", line 1, in <module>
    from .data.all import *
  File "C:\Users\DA\anaconda3\envs\hanati\lib\site-packages\fastai\data\all.py", line 1, in <module>
    from ..torch_basics import *
  File "C:\Users\DA\anaconda3\envs\hanati\lib\site-packages\fastai\torch_basics.py", line 9, in <module>
    from .imports import *
  File "C:\Users\DA\anaconda3\envs\hanati\lib\site-packages\fastai\imports.py", line 5, in <module>
    import multiprocessing,threading,urllib,tempfile,concurrent.futures,matplotlib,warnings,zipfile
  File "C:\Users\DA\anaconda3\envs\hanati\lib\site-packages\matplotlib\__init__.py", line 157, in <module>
    from . import _api, _version, cbook, _docstring, rcsetup
  File "C:\Users\DA\anaconda3\envs\hanati\lib\site-packages\matplotlib\rcsetup.py", line 27, in <module>
    from matplotlib.colors import Colormap, is_color_like
  File "C:\Users\DA\anaconda3\envs\hanati\lib\site-packages\matplotlib\colors.py", line 56, in <module>
    from matplotlib import _api, _cm, cbook, scale
  File "C:\Users\DA\anaconda3\envs\hanati\lib\site-packages\matplotlib\scale.py", line 22, in <module>
    from matplotlib.ticker import (
  File "C:\Users\DA\anaconda3\envs\hanati\lib\site-packages\matplotlib\ticker.py", line 138, in <module>
    from matplotlib import transforms as mtransforms
  File "C:\Users\DA\anaconda3\envs\hanati\lib\site-packages\matplotlib\transforms.py", line 49, in <module>
    from matplotlib._path import (
ImportError: DLL load failed while importing _path: 지정된 모듈을 찾을 수 없습니다.
Fitting model: XGBoost_BAG_L1 ... Training model for up to 134.88s of the 925.46s of remaining time.
	Fitting 8 child models (S1F1 - S1F8) | Fitting with ParallelLocalFoldFittingStrategy (8 workers, per: cpus=1, gpus=0, memory=0.73%)
2024-07-15 17:19:32,382	ERROR worker.py:406 -- Unhandled error (suppress with 'RAY_IGNORE_UNHANDLED_ERRORS=1'): The worker died unexpectedly while executing this task. Check python-core-worker-*.log files for more information.
2024-07-15 17:19:32,386	ERROR worker.py:406 -- Unhandled error (suppress with 'RAY_IGNORE_UNHANDLED_ERRORS=1'): The worker died unexpectedly while executing this task. Check python-core-worker-*.log files for more information.
2024-07-15 17:19:32,405	ERROR worker.py:406 -- Unhandled error (suppress with 'RAY_IGNORE_UNHANDLED_ERRORS=1'): The worker died unexpectedly while executing this task. Check python-core-worker-*.log files for more information.
	-80306665.1157	 = Validation score   (-mean_absolute_error)
	109.96s	 = Training   runtime
	5.05s	 = Validation runtime
Fitting model: NeuralNetTorch_BAG_L1 ... Training model for up to 22.11s of the 812.68s of remaining time.
	Fitting 8 child models (S1F1 - S1F8) | Fitting with ParallelLocalFoldFittingStrategy (8 workers, per: cpus=1, gpus=0, memory=0.54%)
	-246068182.9624	 = Validation score   (-mean_absolute_error)
	21.94s	 = Training   runtime
	1.35s	 = Validation runtime
Fitting model: WeightedEnsemble_L2 ... Training model for up to 360.0s of the 787.95s of remaining time.
	Ensemble Weights: {'LightGBM_BAG_L1': 0.739, 'RandomForestMSE_BAG_L1': 0.261}
	-31438768.7394	 = Validation score   (-mean_absolute_error)
	1.25s	 = Training   runtime
	0.01s	 = Validation runtime
Fitting 9 L2 models ...
Fitting model: LightGBMXT_BAG_L2 ... Training model for up to 786.67s of the 786.64s of remaining time.
	Fitting 8 child models (S1F1 - S1F8) | Fitting with ParallelLocalFoldFittingStrategy (8 workers, per: cpus=1, gpus=0, memory=0.84%)
2024-07-15 17:26:31,855	ERROR worker.py:406 -- Unhandled error (suppress with 'RAY_IGNORE_UNHANDLED_ERRORS=1'): The worker died unexpectedly while executing this task. Check python-core-worker-*.log files for more information.
2024-07-15 17:26:31,862	ERROR worker.py:406 -- Unhandled error (suppress with 'RAY_IGNORE_UNHANDLED_ERRORS=1'): The worker died unexpectedly while executing this task. Check python-core-worker-*.log files for more information.
2024-07-15 17:26:31,867	ERROR worker.py:406 -- Unhandled error (suppress with 'RAY_IGNORE_UNHANDLED_ERRORS=1'): The worker died unexpectedly while executing this task. Check python-core-worker-*.log files for more information.
2024-07-15 17:26:31,874	ERROR worker.py:406 -- Unhandled error (suppress with 'RAY_IGNORE_UNHANDLED_ERRORS=1'): The worker died unexpectedly while executing this task. Check python-core-worker-*.log files for more information.
	-41996285.9322	 = Validation score   (-mean_absolute_error)
	225.13s	 = Training   runtime
	1169.1s	 = Validation runtime
Fitting model: LightGBM_BAG_L2 ... Training model for up to 418.16s of the 418.12s of remaining time.
	Fitting 8 child models (S1F1 - S1F8) | Fitting with ParallelLocalFoldFittingStrategy (8 workers, per: cpus=1, gpus=0, memory=0.88%)
	-29329227.9616	 = Validation score   (-mean_absolute_error)
	174.57s	 = Training   runtime
	987.35s	 = Validation runtime
Fitting model: RandomForestMSE_BAG_L2 ... Training model for up to 120.88s of the 120.84s of remaining time.
	Warning: Reducing model 'n_estimators' from 300 -> 94 due to low time. Expected time usage reduced from 381.7s -> 120.9s...
	-26471460.7091	 = Validation score   (-mean_absolute_error)
	65.57s	 = Training   runtime
	2.43s	 = Validation runtime
Fitting model: CatBoost_BAG_L2 ... Training model for up to 52.7s of the 52.66s of remaining time.
	Fitting 8 child models (S1F1 - S1F8) | Fitting with ParallelLocalFoldFittingStrategy (8 workers, per: cpus=1, gpus=0, memory=0.88%)
	-63800937.0127	 = Validation score   (-mean_absolute_error)
	43.34s	 = Training   runtime
	0.09s	 = Validation runtime
Fitting model: WeightedEnsemble_L3 ... Training model for up to 360.0s of the 6.55s of remaining time.
	Ensemble Weights: {'RandomForestMSE_BAG_L2': 0.773, 'LightGBM_BAG_L2': 0.227}
	-26054284.847	 = Validation score   (-mean_absolute_error)
	1.45s	 = Training   runtime
	0.01s	 = Validation runtime
AutoGluon training complete, total runtime = 2366.18s ... Best model: WeightedEnsemble_L3 | Estimated inference throughput: 11.7 rows/s (40308 batch size)
Automatically performing refit_full as a post-fit operation (due to `.fit(..., refit_full=True)`
Refitting models via `predictor.refit_full` using all of the data (combined train and validation)...
	Models trained in this way will have the suffix "_FULL" and have NaN validation score.
	This process is not bound by time_limit, but should take less time than the original `predictor.fit` call.
	To learn more, refer to the `.refit_full` method docstring which explains how "_FULL" models differ from normal models.
Fitting 1 L1 models ...
Fitting model: LightGBMXT_BAG_L1_FULL ...
	36.05s	 = Training   runtime
Fitting 1 L1 models ...
Fitting model: LightGBM_BAG_L1_FULL ...
	30.23s	 = Training   runtime
Fitting model: RandomForestMSE_BAG_L1_FULL | Skipping fit via cloning parent ...
	51.89s	 = Training   runtime
	8.23s	 = Validation runtime
Fitting 1 L1 models ...
Fitting model: CatBoost_BAG_L1_FULL ...
	157.0s	 = Training   runtime
Fitting model: ExtraTreesMSE_BAG_L1_FULL | Skipping fit via cloning parent ...
	21.81s	 = Training   runtime
	6.76s	 = Validation runtime
Fitting 1 L1 models ...
Fitting model: XGBoost_BAG_L1_FULL ...
	2.42s	 = Training   runtime
Fitting 1 L1 models ...
Fitting model: NeuralNetTorch_BAG_L1_FULL ...
	11.7s	 = Training   runtime
Fitting model: WeightedEnsemble_L2_FULL | Skipping fit via cloning parent ...
	Ensemble Weights: {'LightGBM_BAG_L1': 0.739, 'RandomForestMSE_BAG_L1': 0.261}
	1.25s	 = Training   runtime
Fitting 1 L2 models ...
Fitting model: LightGBMXT_BAG_L2_FULL ...
	41.75s	 = Training   runtime
Fitting 1 L2 models ...
Fitting model: LightGBM_BAG_L2_FULL ...
	35.76s	 = Training   runtime
Fitting model: RandomForestMSE_BAG_L2_FULL | Skipping fit via cloning parent ...
	65.57s	 = Training   runtime
	2.43s	 = Validation runtime
Fitting 1 L2 models ...
Fitting model: CatBoost_BAG_L2_FULL ...
	5.47s	 = Training   runtime
Fitting model: WeightedEnsemble_L3_FULL | Skipping fit via cloning parent ...
	Ensemble Weights: {'RandomForestMSE_BAG_L2': 0.773, 'LightGBM_BAG_L2': 0.227}
	1.45s	 = Training   runtime
Updated best model to "WeightedEnsemble_L3_FULL" (Previously "WeightedEnsemble_L3"). AutoGluon will default to using "WeightedEnsemble_L3_FULL" for predict() and predict_proba().
Refit complete, total runtime = 325.23s ... Best model: "WeightedEnsemble_L3_FULL"
TabularPredictor saved. To load, use: predictor = TabularPredictor.load("AutogluonModels\ag-20240715_073451")

Predictions:
 388390    3.396393e+08
93442     1.850640e+07
396598    1.984676e+08
166263    1.558581e+08
88675     2.259014e+07
              ...
155526    2.105532e+08
168829    1.460799e+09
153934    3.146199e+08
259348    2.911273e+07
310736    6.392836e+08
Name: amt, Length: 80616, dtype: float32
Actual:
 388390     365433405
93442       15489679
396598     193816450
166263     204928779
88675       23182820
             ...
155526     183013621
168829    1543539840
153934     362683500
259348      29006955
310736     613019243
Name: amt, Length: 80616, dtype: int64

In [61]:
y_pred = predictor.predict(test_df.drop(columns=['amt']))
y_pred.head()

388390    339639264.0
93442      18506400.0
396598    198467616.0
166263    155858144.0
88675      22590136.0
Name: amt, dtype: float32

In [62]:
predictor.evaluate(test_df, silent=True)

{'mean_absolute_error': -24452663.372299213,
 'root_mean_squared_error': -169401599.57995763,
 'mean_squared_error': -2.86969019402483e+16,
 'r2': 0.9908262798078357,
 'pearsonr': 0.9961503003668908,
 'median_absolute_error': -7579201.5}

In [63]:
predictor.leaderboard(test_df)

,model,score_test,score_val,eval_metric,pred_time_test,pred_time_val,fit_time,pred_time_test_marginal,pred_time_val_marginal,fit_time_marginal,stack_level,can_infer,fit_order
0,RandomForestMSE_BAG_L2_FULL,-2.407933e+07,NaN,mean_absolute_error,27.446944,NaN,376.674253,0.137518,2.427857,65.566918,2,True,24
1,WeightedEnsemble_L3_FULL,-2.445266e+07,NaN,mean_absolute_error,37.522038,NaN,413.887772,0.001998,NaN,1.452698,3,True,26
2,WeightedEnsemble_L2_FULL,-2.817289e+07,NaN,mean_absolute_error,11.538826,NaN,83.367764,0.011999,NaN,1.246012,2,True,21
3,LightGBM_BAG_L1_FULL,-2.902978e+07,NaN,mean_absolute_error,10.951635,NaN,30.234704,10.951635,NaN,30.234704,1,True,15
4,LightGBM_BAG_L2_FULL,-3.099782e+07,NaN,mean_absolute_error,37.382522,NaN,346.868156,10.073097,NaN,35.760821,2,True,23
5,RandomForestMSE_BAG_L1,-3.742274e+07,-3.981179e+07,mean_absolute_error,0.536744,8.230950,51.887049,0.536744,8.230950,51.887049,1,True,3
6,RandomForestMSE_BAG_L1_FULL,-3.742274e+07,NaN,mean_absolute_error,0.575191,8.230950,51.887049,0.575191,8.230950,51.887049,1,True,16
7,LightGBMXT_BAG_L2_FULL,-4.484916e+07,NaN,mean_absolute_error,40.248683,NaN,352.855522,12.939257,NaN,41.748187,2,True,22
8,LightGBMXT_BAG_L1_FULL,-5.201863e+07,NaN,mean_absolute_error,14.788396,NaN,36.050912,14.788396,NaN,36.050912,1,True,14
9,CatBoost_BAG_L2_FULL,-6.797594e+07,NaN,mean_absolute_error,27.330424,NaN,316.577955,0.020998,NaN,5.470620,2,True,25
10,XGBoost_BAG_L1_FULL,-7.774153e+07,NaN,mean_absolute_error,0.262552,NaN,2.422323,0.262552,NaN,2.422323,1,True,19
11,ExtraTreesMSE_BAG_L1_FULL,-9.105358e+07,NaN,mean_absolute_error,0.343098,6.757475,21.809499,0.343098,6.757475,21.809499,1,True,18
12,ExtraTreesMSE_BAG_L1,-9.105358e+07,-9.377527e+07,mean_absolute_error,0.345134,6.757475,21.809499,0.345134,6.757475,21.809499,1,True,5
13,CatBoost_BAG_L1_FULL,-9.316350e+07,NaN,mean_absolute_error,0.085001,NaN,157.003798,0.085001,NaN,157.003798,1,True,17
14,NeuralNetTorch_BAG_L1_FULL,-2.051267e+08,NaN,mean_absolute_error,0.303552,NaN,11.699051,0.303552,NaN,11.699051,1,True,20
15,WeightedEnsemble_L3,NaN,-2.605428e+07,mean_absolute_error,NaN,3447.588298,1492.463011,NaN,0.006002,1.452698,3,False,13
16,RandomForestMSE_BAG_L2,NaN,-2.647146e+07,mean_absolute_error,NaN,2460.230138,1316.436387,NaN,2.427857,65.566918,2,False,11
17,LightGBM_BAG_L2,NaN,-2.932923e+07,mean_absolute_error,NaN,3445.154438,1425.443395,NaN,987.352157,174.573926,2,False,10
18,WeightedEnsemble_L2,NaN,-3.143877e+07,mean_absolute_error,NaN,1067.307020,201.434684,NaN,0.005004,1.246012,2,False,8
19,LightGBM_BAG_L1,NaN,-3.280384e+07,mean_absolute_error,NaN,1059.071066,148.301623,NaN,1059.071066,148.301623,1,False,2
20,LightGBMXT_BAG_L2,NaN,-4.199629e+07,mean_absolute_error,NaN,3626.898208,1475.996723,NaN,1169.095927,225.127254,2,False,9
21,LightGBMXT_BAG_L1,NaN,-5.593359e+07,mean_absolute_error,NaN,1376.788294,182.343538,NaN,1376.788294,182.343538,1,False,1
22,CatBoost_BAG_L2,NaN,-6.380094e+07,mean_absolute_error,NaN,2457.890801,1294.211125,NaN,0.088520,43.341656,2,False,12
23,XGBoost_BAG_L1,NaN,-8.030667e+07,mean_absolute_error,NaN,5.052660,109.960075,NaN,5.052660,109.960075,1,False,6
24,CatBoost_BAG_L1,NaN,-9.831141e+07,mean_absolute_error,NaN,0.555676,714.629520,NaN,0.555676,714.629520,1,False,4
25,NeuralNetTorch_BAG_L1,NaN,-2.460682e+08,mean_absolute_error,NaN,1.346161,21.938164,NaN,1.346161,21.938164,1,False,7

In [48]:
train_df.to_csv('train_df.csv', index=False, encoding='utf-8-sig')
test_df.to_csv('test_df.csv', index=False, encoding='utf-8-sig')
merged_df2.to_csv('preprocessed.csv', index=False, encoding='utf-8-sig')

In [64]:
test_df.head()

,admi_cty_no,card_tpbuz_cd,amt,cnt,TOTAL_POPULATION,운영점포평균영업기간,폐업점포평균영업기간,상권변동지표구분
388390,41590590,D01,365433405,906,7667999.44,37.7,33.8,LL
93442,41113560,D05,15489679,433,5216269.43,88.4,43.3,HL
396598,41590610,Y03,193816450,8579,8766419.48,27.1,28.7,LL
166263,41117580,Q04,204928779,7186,4852703.62,71.0,53.0,LL
88675,41113550,R01,23182820,75,7261073.44,82.7,63.0,LH

In [100]:
# 예측할 데이터
data = {
    "admi_cty_no": [41590590],
    "card_tpbuz_cd": ["D01"],
    "amt": [365433405],  # 예측에서는 사용되지 않음
    "cnt": [906],
    "TOTAL_POPULATION": [7667999.44	],
    "운영점포평균영업기간": [37.7],
    "폐업점포평균영업기간": [33.8],
    "상권변동지표구분": ["LL"]
}
# # 저장된 인코더 로드
# encoder = joblib.load('encoder.pkl')

df_predict = pd.DataFrame(data)
df_predict = TabularDataset(df_predict)

In [101]:
predictor2 = TabularPredictor.load(r"AutogluonModels\ag-20240715_073451")
y_pred = predictor2.predict(df_predict.drop(columns=['amt']))

In [102]:
y_pred

0    339639264.0
Name: amt, dtype: float32

In [75]:
df_predict

,admi_cty_no,card_tpbuz_cd,amt,cnt,TOTAL_POPULATION,운영점포평균영업기간,폐업점포평균영업기간,상권변동지표구분
0,41210510,D06,633562,28,13850.98,188.5,358.0,HH

In [96]:
test_df[(test_df['card_tpbuz_cd'] == 'Y03') & (test_df['admi_cty_no'] == 41210510)]['amt'].mean()

1094938.0909090908

In [106]:
class AutogluonWrapper:
    def __init__(self, predictor, feature_names):
        self.ag_model = predictor
        self.feature_names = feature_names
    
    def predict_proba(self, X):
        if isinstance(X, pd.Series):
            X = X.values.reshape(1,-1)
        if not isinstance(X, pd.DataFrame):
            X = pd.DataFrame(X, columns=self.feature_names)
        return self.ag_model.predict_proba(X)

In [2]:
%load_ext autoreload
%autoreload 2
!pip install -qU shap

WARNING: Ignoring invalid distribution -atplotlib (c:\users\da\anaconda3\envs\jh\lib\site-packages)
WARNING: Ignoring invalid distribution -atplotlib (c:\users\da\anaconda3\envs\jh\lib\site-packages)

In [3]:
import shap
shap.initjs()
import warnings
warnings.filterwarnings('ignore')
X_train = train_df.drop(columns=['amt'])
baseline = X_train.sample(100)

ModuleNotFoundError: No module named 'shap'

In [119]:
ag_wrapper = AutogluonWrapper(predictor, X_train.columns)
explainer = shap.KernelExplainer(ag_wrapper.predict_proba, baseline)
print("Baseline prediction: ", np.mean(ag_wrapper.predict_proba(baseline)))

NameError: name 'shap' is not defined

In [5]:
train_data

NameError: name 'train_data' is not defined