In [5]:
from autogluon.tabular import TabularDataset, TabularPredictor
import flask
import pandas as pd

In [4]:
predictor = TabularPredictor.load(r"AutogluonModels\ag-20240712_120603")

In [6]:
import pandas as pd

In [ ]:
@app.route('/predict', methods=['POST'])
def predict():
    data = request.json
    df = pd.DataFrame(data)
    predictions = model.predict(df)
    return jsonify(predictions.to_list())

if __name__ == '__main__':
    app.run(host='0.0.0.0', port=5000)

In [9]:
data = {
    "admi_cty_no": [41210510],
    "card_tpbuz_cd": ["D05"],
    "amt": [633562],
    "cnt": [28],
    "TOTAL_POPULATION": [13850.98],
    "운영점포평균영업기간": [188.5],
    "폐업점포평균영업기간": [358.0],
    "상권변동지표구분": ["HH"]
}

# DataFrame으로 변환
df = pd.DataFrame(data)

In [10]:
df

,admi_cty_no,card_tpbuz_cd,amt,cnt,TOTAL_POPULATION,운영점포평균영업기간,폐업점포평균영업기간,상권변동지표구분
0,41210510,D05,633562,28,13850.98,188.5,358.0,HH