In [1]:
from autogluon.tabular import TabularDataset, TabularPredictor
import pandas as pd
import numpy as np

In [13]:
# 예측할 데이터
data = {
    "admi_cty_no": [41590590],
    "card_tpbuz_cd": ["D01"],
    "amt": [365433405],  # 예측에서는 사용되지 않음
    "cnt": [906],
    "TOTAL_POPULATION": [7667999.44	],
    "운영점포평균영업기간": [37.7],
    "폐업점포평균영업기간": [33.8],
    "상권변동지표구분": ["LL"]
}

df_predict = pd.DataFrame(data)
df_predict = TabularDataset(df_predict)

In [14]:
predictor2 = TabularPredictor.load(r"AutogluonModels\ag-20240715_073451")
y_pred = predictor2.predict(df_predict.drop(columns=['amt']))

In [21]:
print("실제값: 365433405")
print("예측값:", y_pred.iloc[0])

실제값: 365433405
예측값: 339639260.0

In [5]:
df_predict

,admi_cty_no,card_tpbuz_cd,amt,cnt,TOTAL_POPULATION,운영점포평균영업기간,폐업점포평균영업기간,상권변동지표구분
0,41210510,D05,633562,28,13850.98,188.5,358.0,HH

In [9]:
y_pred

0    1449026.625
Name: amt, dtype: float32

In [22]:
from autogluon.tabular import TabularDataset, TabularPredictor
import pandas as pd
import numpy as np

data = {
    "admi_cty_no": [41590590],
    "card_tpbuz_cd": ["D01"],
    "amt": [365433405],  # 예측에서는 사용되지 않음
    "cnt": [906], # DB에서 불러오기 
    "TOTAL_POPULATION": [7667999.44	], # DB에서 불러오기
    "운영점포평균영업기간": [37.7], # DB에서 불러오기
    "폐업점포평균영업기간": [33.8], # DB에서 불러오기
    "상권변동지표구분": ["LL"] # DB에서 불러오기
}

df_predict = pd.DataFrame(data)
df_predict = TabularDataset(df_predict)

predictor2 = TabularPredictor.load(r"AutogluonModels\ag-20240715_073451")
y_pred = predictor2.predict(df_predict.drop(columns=['amt']))

print("실제값: 365433405")
print("예측값:", y_pred.iloc[0])

실제값: 365433405
예측값: 339639260.0